modules = ["web", "nodejs-20", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["github:1.0.0", "javascript_object_storage:2.0.0"]

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
STORE_CORS = "http://localhost:5000,https://*.replit.dev,https://*.replit.app,*"
ADMIN_CORS = "http://localhost:5000,http://localhost:9000,https://*.replit.dev,https://*.replit.app,*"
AUTH_CORS = "http://localhost:5000,http://localhost:9000,https://*.replit.dev,https://*.replit.app,*"
VITE_MEDUSA_BACKEND_URL = "http://localhost:9000"
TEMPORAL_ENDPOINT = "ap-northeast-1.aws.api.temporal.io:7233"
TEMPORAL_NAMESPACE = "quickstart-dakkah-cityos.djvai"
__MEDUSA_ADDITIONAL_ALLOWED_HOSTS = ".replit.dev,.replit.app"
MEDUSA_ADMIN_PATH = "/commerce/admin"
MEDUSA_BACKEND_PORT = "9000"
STOREFRONT_PORT = "5000"
FLEETBASE_ORG_ID = "29ae887c-0e4c-4f15-834e-31a2f1ea9621"
ERPNEXT_URL_LOCAL = "http://localhost:8080"
FLEETBASE_URL_LOCAL = "http://localhost:8000"
PAYLOAD_CMS_URL_LOCAL = "http://localhost:3001"
WALTID_URL_LOCAL = "http://localhost:7000"
MEDUSA_BACKEND_URL_LOCAL = "http://localhost:9000"
STOREFRONT_URL_LOCAL = "http://localhost:5000"
VITE_MEDUSA_PUBLISHABLE_KEY = "pk_223392ac13f78639c0bad4ce1399f8f33a49188fb95a2f69c31d4ef8e0e5dbd7"

[userenv.development]

[userenv.production]
ERPNEXT_URL_DEV = "https://ff049349-609e-450d-ab42-e289d89960bb-00-ujg6lz7mnzcy.pike.replit.dev:8080"
FLEETBASE_URL_DEV = "https://efdaeea4-1883-4ef0-9888-41da8659025c-00-19fmj1r05ozg4.pike.replit.dev:8000"
PAYLOAD_CMS_URL_DEV = "https://9e78ac41-ae95-440f-9196-e9263c6eadda-00-130jbk279zua2.janeway.replit.dev:3001"
WALTID_URL_DEV = "https://9e78ac41-ae95-440f-9196-e9263c6eadda-00-130jbk279zua2.janeway.replit.dev:7000"
STOREFRONT_URL_DEV = "https://9e78ac41-ae95-440f-9196-e9263c6eadda-00-130jbk279zua2.janeway.replit.dev:5000"
MEDUSA_BACKEND_URL_DEV = "https://f76865b8-a3a7-41f9-85b2-b0ade8a4fd85-00-3o74vg6b4mqvs.sisko.replit.dev:9000"
SENDGRID_FROM = "dk_dev_22d60466c799dbf8d9af7d6af51244359d77d26c9cb7fe287515c8b6667977d2"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5433
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 9000
externalPort = 9000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash /home/runner/workspace/start.sh"
waitForPort = 5000

[deployment]
deploymentTarget = "vm"
run = ["bash", "scripts/start-production.sh"]
build = ["bash", "scripts/build-production.sh"]

[objectStorage]
defaultBucketID = "replit-objstore-9ae4a2f3-0592-42b1-908d-b04c0c0e79c4"
