# CORS Setting
STORE_CORS=http://localhost:5000,*
ADMIN_CORS=http://localhost:5173,http://localhost:9000,*
AUTH_CORS=http://localhost:5173,http://localhost:9000,*

# Secrets key for signing
JWT_SECRET=secret-key
COOKIE_SECRET=secret-key

# Redis database connection url
REDIS_URL=redis://localhost:6379

# DISABLE_MEDUSA_ADMIN=true

# Backend url
Medusa_backend_URL=http://localhost:9000

# Database connection
NEON_DATABASE_URL=
DATABASE_URL=postgresql://postgres:password@localhost:5432/db_name
DB_NAME=db_name
POSTGRES_URL=

# Medusa Public Keys
MEDUSA_PUBLISHABLE_KEY=Medusa-public-API-key
VITE_MEDUSA_PUBLISHABLE_KEY=Medusa-public-API-key



# SendGrid Notification Provider
SENDGRID_API_KEY=your-sendgrid-api-key
SENDGRID_FROM=noreply@yourdomain.com

# Stripe Payment Provider
STRIPE_API_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret

# Meilisearch
MEILISEARCH_HOST=http://127.0.0.1:7700
MEILISEARCH_API_KEY=masterKey
MEILISEARCH_PRODUCT_INDEX_NAME=products